trigger:
- master
- development

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: UsePythonVersion@0
  inputs:
    versionSpec: '3.8'
    addToPath: true

- script: |
    pip install -r dependencies.txt
  displayName: 'Install dependencies'

- script: |
    pytest tests/test*.py
  displayName: 'Run pytest'

- script: |
    pytest --cov=app
  displayName: 'Get pytest-cov coverage'

- script: |
    pylint **/*.py
  displayName: 'Run pylint'

- script: |
    echo "Building the Python application"
    python -m compileall .
  displayName: 'Build Python App'
  # Below code from https://stackoverflow.com/questions/61710112/azure-devops-pipeline-fails-when-running-pylint
  continueOnError: true

- task: CopyFiles@2
  inputs:
    contents: '**/*.py'
    targetFolder: '$(build.artifactStagingDirectory)'

- task: PublishBuildArtifacts@1
  inputs:
    pathToPublish: '$(Build.ArtifactStagingDirectory)'
    artifactName: 'drop'